<h2>Gallery of astronomy Picture of the Day</h2>
<ul>
  <li *ngFor="let item of gallery; let i = index">
    <section>
      <p-progressSpinner *ngIf="!item.loaded"></p-progressSpinner>

      <figure [hidden]="item.loaded">
        <img src="{{ item.url }}" alt="" />

        <img src="{{ item.hdurl }}" alt="" (load)="dosomething(i)" />
        <figcaption>{{ item.title }}</figcaption>
        <figcaption>{{ item.explanation }}</figcaption>
        <figcaption>{{ item.date }}</figcaption>
      </figure>
      <!-- <video src="../../../assets/images/Indonesia_2018-06.mp4" autoplay width="80%" height="50%">
		
			</video> -->
    </section>
  </li>
</ul>
