.grid-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; // background-color: lightgrey;
    .row {
        margin-bottom: 10px;
        text-align: center;
        vertical-align: middle;
        line-height: ;
        [class*='col-'] {
            float: left;
            min-height: 1px;
            width: 100%/ $columns;
            /*--gutter --*/
            // padding: 12px;
        }
        @for $i from 1 through $columns {
            .col-#{$i} {
                width: 100% /$columns *$i;
            }
        }
        @media (max-width: 550px) {
            [class*='col-'] {
                float: none;
                width: 100%;
            }
        }
    }

    .row:before,
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
}