/* FOOTER */

.page__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    background-color: red;
    text-align: center;
}

.footer__img {
    width: 20px;
    margin: 0 10px;
}