.gallery__modal {
    position: fixed; // width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    right: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.9);
    padding: 20px;
    overflow: scroll;

}

.modal__close {
    display: block;
    margin: auto;
    background-color: green;
    position: absolute;
    top: 50px;
    right: 10%;
    transform: translate(-50%, 50%);
    width: 30px;
    height: 30px;
    padding: 5px;
    margin: 0;
    background-color: transparent;
}

.modal__desc {
    color: $color-2;
    overflow: auto;
    padding: 0px 0px 20px 0px;
    text-align: justify;
    line-height: 1.3rem;
    text-indent: 20px;
    @include media(">=tablet") {
    font-size:1.9rem;
    line-height: 2.1rem;
    max-width:1200px;
    margin:0 auto;
        }
}

.modal__img {
    display: block;
    margin: 10px auto;
    width: 100%;
    height: auto;
    position: relative;
    @include media(">=tablet") {
    max-width:1000px
        }
}