// headers style
.page__header{
	position:relative;
    display:flex;
    justify-content:space-between;
    flex-direction:row;
    align-items:center;
    padding:10px;

}
.header__logo{
    height:auto;
    width:80px;
}

.header__nav{

}
.nav__btn{
position:relative;
}

.header__menu{
position:absolute;
top:80px;
    list-style-type:none;
    padding:0;

}
